<link type="text/css" href="/css/reset.css" rel="stylesheet" />
<link type="text/css" href="http://taitems.github.com/Aristo-jQuery-UI-Theme/css/Aristo/jquery-ui-1.8.7.custom.css" rel="stylesheet" />
<link type="text/css" href="/css/client.css" rel="stylesheet" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js"></script>
<!--
<link type="text/css" href="/css/reset.css" rel="stylesheet" />
<link type="text/css" href="/css/client.css" rel="stylesheet" />
<link type="text/css" href="/css/aristo.css" rel="stylesheet" />
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/jquery-ui.js"></script>
-->
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript">window.EYERC = {"nick":"<%=nick%>"};</script>
<div id="main">
  <div id="tabs">
    <ul><li><a href="#server">Freenode</a></li></ul>
    <div id="server"><section></section></div>
  </div>
  <div id="post"><input type="text" id="postbox"/></div>
  <div id="info">
<!--
    <% if(typeof user.username === 'string'){ %>
      logged in as <b><%= user.username %></b>
      <a href="/logout">logout</a>
    <% }else{ %>
      <a href="/login">login</a> to post
    <% } %>
-->
  </div>
</div>
<script type="text/javascript" src="/js/client.js"></script>
