<!doctype html>
<html><head>
  <title><%= title %></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link type="text/css" href="/css/reset.css" rel="stylesheet" />
  <link type="text/css" href="/css/client.css" rel="stylesheet" />
</head>
<body>
  <%- body %>
<script type="text/javascript">
var _gaq=[["_setAccount","UA-15183809-3"],["_trackPageview"],["_setDomainName",".netroy.in"]];
(function(){var a=document.createElement("script");a.type="text/javascript";a.async=true;a.src=("https:"==document.location.protocol?"https://ssl":"http://www")+".google-analytics.com/ga.js";var b=document.getElementsByTagName("script")[0];b.parentNode.insertBefore(a,b)})();
</script>
<!--
<img src="http://node.netroy.in/beacon" height="1" width="1" style="position:absolute;top:0;height:1px;width:1px;visibility:hidden;" />
-->
</body></html>
