<link type="text/css" href="/css/reset.css" rel="stylesheet" />
<link type="text/css" href="/css/newui.css" rel="stylesheet" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>

<div id="main">
  <div id="SideBar">
    <ul class="server">
      <li class="console">irc.freenode.net</li>
    </ul>
  </div>
  <div id="Panel">
    <div id="promptWrapper">
      <input type="text" name="prompt" id="prompt" />
    </div>
    <div class="log"></div>
    <ol class="users"></ol>
  </div>
</div>
<header>
  <div class="menu">
  </div>
  <div class="title">
  </div>
</header>
<!--<footer>footer</footer>-->
<script type="text/javascript" src="/js/newui.js"></script>