<link type="text/css" href="/css/reset.css" rel="stylesheet" />
<link type="text/css" href="/css/newui.css" rel="stylesheet" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript">
if (typeof jQuery === 'undefined') {
  document.write(unescape("%3Cscript src='/js/jquery-1.7.1.min.js' type='text/javascript'%3E%3C/script%3E"));
}
</script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript">window.EYERC = {"nick":"<%=nick%>"};</script>

<div id="main">
  <div id="SideBar">
    <ul class="server">
      <li class="console">irc.freenode.net</li>
    </ul>
  </div>
  <div id="Panel">
    <div id="promptWrapper">
      <input type="text" name="prompt" id="prompt" />
    </div>
    <div class="log"></div>
    <ol class="users"></ol>
  </div>
</div>
<header>
  <div class="menu"></div>
  <div class="title"></div>
  <button class="loginButton">Sign-in</button>
</header>
<script type="text/javascript" src="/js/newui.js"></script>