body,#tabs ul{background-color:#EFF0F0;}
@-webkit-keyframes fade {
  35%  { opacity: 1.0;}
  40%  { opacity: 0.3;}
  50%  { opacity: 1.0;}
  60%  { opacity: 0.3;}
  65%  { opacity: 1.0;}
}

#main{padding:10px 20px 0 20px;position:relative;}

.ui-tabs ul.ui-tabs-nav li{margin-right:5px;}
.ui-tabs ul.ui-tabs-nav li a.channel{padding:0;}
#tabs ul li:first-child a{color:#d42;padding:6px 10px 4px 10px;}
#tabs ul span, #tabs ul sup{float:left;vertical-align:baseline;}
#tabs ul span{color:#444;text-shadow: 0 1px 0 rgba(255,255,255,0.6);padding:6px 10px 4px 10px;}
#tabs ul sup{
  border:1px solid #888;border-width:0 1px;background-color:rgba(0,0,0,0.3);color:#FFF;margin-right:4px;
  width: 18px;text-align: center;font-size:11px;font-weight:bold;padding:8px 6px 6px 6px;;position:static;height:auto;
  box-shadow: 0 0 1px rgba(255,255,255,0.4) inset;text-shadow:0 1px 0 #000;
}

#tabs li.ui-tabs-selected span{padding-left:28px;padding-right:28px;}
#tabs li.ui-tabs-selected sup{display:none;}
#tabs .highlight sup{
  background-color:rgba(40,160,255,0.4);
  text-shadow:0 1px 4px #000;
  font-weight:bold;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
}


#tabs>div{position:relative;padding-left:8px;padding-top:10px;}
#tabs ul li span{color: #222;}

section{overflow:auto;}
#server{padding:0;}
#server h5{margin:10px 0 0 10px;padding-bottom:5px;border-bottom:1px solid #BBB;cursor:pointer;}
#server h5:before {color:#888;content:'+';padding:0px 1px 2px 1px;display:inline-block;border:1px solid #CCC;border-radius:2px;line-height:0.7;margin-right: 4px;}
#server section p.motd{margin:2px 10px;font-family:monospace;color:#444;display:none;}

.channel h4{margin-right:180px;border:1px solid #DDD;background-color:#FFC;padding:10px;font-weight:bold;color:#555;text-shadow:0 1px 0 #FFF;margin-bottom:10px;line-height: 15pt;height: 40px;}

.channel section{margin-right:165px;}
.channel p{font-family: georgia;font-size: 12px;line-height: 20pt;padding: 2px 5px;margin: 0;background-color:#FFF; border-bottom:1px solid #E0E2E9;}
.channel time{width: 80px;display: inline-block;float:right;text-align: right;color:#888;}
.channel time,time:before,time:after{font-size:10px;font-family:verdana;}
.channel time:before{content:'[';padding-right:2px;color:#DDD;}
.channel time:after{content:']';padding-left:2px;color:#DDD;}
.channel p:hover time{color:#000;}
.channel p span {font-size: 12px;}
.channel p:nth-child(2n-1){background-color:#F0F2F0; color: #222;}

.channel u{text-decoration:none;font-weight:bold;color:#444;padding-right:5px;display:inline-block;min-width:100px;float:left;}
.channel p>u:after{content:':';padding:0 3px;font-weight:normal;}
.channel i{font-size: 10px;display: block;text-align: right;padding: 0 20px;color: black;}

.channel ol{position:absolute;right:0;top:0; width: 180px;margin:0;padding: 9px 0;
  border-left: 1px dashed #BBB;background-color:#F6F5F6;list-style-type: none;overflow:auto;}
.channel ol li{padding:0;color: #888;}
.channel ol li:hover {color: #000;}
.channel ol li u{display: block;padding: 5px 15px;}


.channel section u, ol u{cursor:pointer;}

#post{border:1px solid #CCC;margin:5px auto 0 auto;background-color:#fff;}
#post input{display: block;margin: 0;width: 98%;border: 0 none;font-size: 26px;font-family:georgia;color:#666;box-shadow:none;padding:4px;}


#info{position:absolute;top:20px;right:25px;}

ol::-webkit-scrollbar, section::-webkit-scrollbar {
  width: 6px;
}

ol::-webkit-scrollbar-track-piece, section::-webkit-scrollbar-track-piece {
  background-color: transparent;
  border-radius: 3px;
  margin: 0 2px;
  padding: 2px;
}
  
ol::-webkit-scrollbar-thumb, section::-webkit-scrollbar-thumb {
  background: #eee;
  width: 6px;
  border-radius: 10px;
  box-shadow: 0 0 3px #fff;
  border: 1px solid #fff;
  pointer: cursor;
  opacity: 0.5;
}
ol:hover::-webkit-scrollbar-thumb, section:hover::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-color: #999;
  opacity: 1.0;
}

.ui-widget-content, .ui-widget-header, li.ui-tabs-selected{
  border-color: #CCC !important;
}